BuenosAires.BodegaBA/Connected Services/WsAnwoReference/WsAnwo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54096/WsAnwo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BuenosAires.Model" />
  <xs:element name="consultar_productos_disponibles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultar_productos_disponiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BuenosAires.Model" minOccurs="0" name="consultar_productos_disponiblesResult" nillable="true" type="q1:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reservar_producto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nroserieanwo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reservado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reservar_productoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BuenosAires.Model" minOccurs="0" name="reservar_productoResult" nillable="true" type="q2:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>